.content{
    margin-left: 5rem;

}

input, textarea {
    display: block;
    width: 80%;
    max-width: 600px;
    margin-top:4px;
    padding:4px;
}

button{
    background-color:#F4E409;
    width: 200px;
    height: 60px;
    border: 1px solid goldenrod;
    cursor: pointer;
    font-size: 3vh;
    color: rgb(148, 0, 0);
}
button:hover{
    background-color: goldenrod;
    color: rgb(251, 240, 215);
}

.placa{
    position: absolute;
    width: 100%;
    height: 10%;
    background-color: #F4E409;
    transform: skewY(-5deg);
    z-index: -1;
    top: -10%;
}
.title {
    font-weight: bolder;
    text-transform: uppercase;
    text-shadow: 2px 4px 4px black;
}

.boxContent{
    display: flex;
    flex-direction: column;    
    
}

.error{
    display: flex;
    background-color: indianred;
    max-width: 600px;
    margin: 10px 0px;
    height: 60px;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    padding: 10px;
}

.hasError{
    border: 1px solid red;
    animation: eq linear .3s;
}
@keyframes eq{
    0% {
        margin-left:-10px;
    }
    50% {
        margin-left:10px;

    }
    100%{
        margin-left: unset;
    }
}
@media (max-width: 992px) {
    input{
        height: 8vh;
        font-size: larger;
    }
    textarea{
        height:16vh
    }
    .content{
        margin-left: 1rem;
        margin-bottom: 5rem;
    }
    input, textarea {
        display: block;
        width: 95%;        
    }
    .error{
        height: 90px;
    }
}