.print-only{
    display: none;
}
.resume-wrapper{
    display: flex;
    flex-direction: column;    
    align-items: center;
    justify-content: center;
    padding-top:4em;
}
section{
    width: 840px;
    display: flex;
    flex-direction: column;
}
.hero h1,
.hero h2 {
    display: inline;
    font-size: 3em;
    margin-right: 10px;
}
@media screen {
    h1{
        color:#e8bf31;
    }
    
    .placa{
        position: absolute;
        width: 100%;
        height: 10%;
        background-color: #F4E409;
        transform: skewY(-5deg);
        z-index: -1;
        top: -10%;
    }
}

.final{
    padding-bottom: 10em;
}

.item {
    flex-direction: row;
    display: flex;
}

.m1{
    margin:1em;
}

h1,h2,h3 {
    margin-bottom: 0;
}
h3{
    margin-top:0;
}
.certificates .item {
    border-bottom: 1px solid white;
    padding-bottom: 2em;
    margin-bottom: 1em;
}

section.languages {
    display: grid;
    grid: 70px / 1fr 1fr ;
    align-content: center;
}
.languages .item {
    align-self: center;
    justify-content: center;
}

.item img {
    border-radius: 10px;
}

.item-opt{
    transition: opacity .3s;
}

.item-hidden{
    opacity: 0;
    display: none;
}

.plusButton button{
    font-size: 1.5em;    
    float: right;
    background: transparent;
    color: #e8bf31;
    border: none;
    cursor: pointer;
    font-weight: bold;
}
.plusButton button:hover{
    color:white;
}
.show{
    display: flex!important;
}

@media (max-width: 992px){
    .hero h1, .hero h2 {
        display: block;
        float: left;
        line-height: 0.4em;
        margin-left: 25px;
    }

    .hero h2 {
        margin-bottom: 60px;
    }

    section{
        font-size: 0.8em;
    }
    section.languages {
        font-size: larger;
    }
}

@media (max-device-width:425px){
    .resume-wrapper img,.m1{
        display: none;
    }
    section.languages {
        grid: 120px / 1fr;
        font-size: larger;
    }
}

@media (min-device-width:2560px){
    section {
        width: 1600px;
    }
    
}


@media print {
    body {
        background:unset;
        color:unset;
    }
    .print-only{
        display: block;
    }
    h1,h2,h3{
        margin: 0;
    }
    h1{
        font-size: 28px;
    }
    .resume-wrapper{
        padding-top: 0;
    }
    a,
    small,
    #language-switch,
    .footer,
    .hero,
    .plusButton {
        display: none;
    }
    section{
        font-size: 9pt;
        width: 100%;
        display: block;
    }
    .certificates .item{
        border-bottom: 0;
        margin-bottom: 0;
        padding-bottom: 0;
        display: block;
    }
    
    .final {
        padding-bottom: 0;
    }
    .pagebreak { page-break-before: always; }
    .item{
        display: block;
    }

    img{
        display:none;
    }
}

.dc {
    display: contents;
}

.highlight{
    position:relative;
}
.highlight::after{
    content: "";
    display: inline-block;
    position:absolute;
    width:100%;
    height: 100%;
    z-index: -1;
    top:0;
    left: 0;
    border-bottom: 2px solid #e8bf31;
    animation-name: hl;
    animation-duration: 1s;
    animation-direction: normal;
}

@keyframes hl {
    0%{
        width: 0;
        opacity: 0;
    }
    100%{
        width: 100%;
        opacity: 1;
    }
}

.skill{
    color: #e8bf31;
}