body {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    margin:0;
    background: #262626;
    color: #FFF;
}

.footer{
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 0;
    height: 8vh;
    width: 100%;
    background-color: #111111;
    z-index: 9;
}
.footer img{
    width: 5vh;
    padding: 1vh;
}

h1 {
    font-size: 2rem;
}
@media (max-width: 544px) {  
  h1 {font-size:1.5rem;} 
}
 
@media (max-width: 768px) {  
  h1 {font-size:2rem;}
  body{font-size: 25px;}
}
 
@media (max-width: 992px) { 
  h1 {font-size:2.5rem;}
  body{font-size: 25px;}
}
 
@media (max-width: 1200px) {  
  h1 {font-size:2.5rem;}  
}

@media(min-width:2000px){
    h1{font-size: 6rem;}
    body{
        font-size: 30px;
    }
}

#language-switch{
  position: absolute;
  padding: 2vh;
  z-index: 3;
  right: 1vh;
}

#img-lang{
  transition: all .8s ease-in-out;
}
#img-lang:hover{
  transform: scale(2);
}


#language-switch>img{
  width: 3vh;
  cursor: pointer;
}

#language-switch ul{
  list-style: none;
  text-align: right;
  animation: 1s fadein;
}

#language-switch ul li a:hover{
  color:#F4E409;
}
@keyframes fadein{
  from {opacity: 0;}
  to {opacity: 1;}
}

.hidden {
  display: none!important;
}

#lang-items{
  position: absolute;
  right:1vh;
  
}

#lang-items a{
  color:#FFF;
  text-decoration: none;
  font-size: 20px;
}
a {
  color: #e8bf31;
}

a:visited{    
  color: #e8bf31;
}
